<section class="py-4">
    <div class="container">
        <div class="row g-4">
            <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let el of dataProducts?.data">
                <div class="card product h-100">
                    <a class=" flex-grow-1"  routerLink="/Details" [queryParams]="{id:el.id}">
                        <img [src]="el.imageCover" class="card-img-top" alt="...">
                        <div class="card-body d-flex flex-column">
                            <p class="card-text text-main">{{el.category.name}}</p>
                            <h5 class="card-title flex-grow-1">{{el.title|titleCut:2}}</h5>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>{{el.price}} EGP</span>
                                <span><i class="fas fa-star text-warning"></i>{{el.ratingsAverage}} </span>
                            </div>
                        </div>
                    </a>
                    <button (click)="addProduct(el.id)" class="btn bg-main text-white w-100 mb-2">
                        <i *ngIf="arrayOfAdd.includes(el.id)" class="fas fa-spinner fa-spin me-2"></i>
                        <span>+ ADD</span>
                    </button>
                  </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" class=" my-4" >
            <ul class="pagination  d-flex justify-content-center">
              <li class="page-item" *ngFor="let num of dataProducts?.metadata.numberOfPages|pages"><a (click)="getData(num)" [ngClass]="{'bg-main text-white': dataProducts?.metadata.currentPage == num}"  class="page-link">{{num}}</a></li>
            </ul>
          </nav>
    </div>
</section>